@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap');
// font-family: 'Bebas Neue', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url("/public/image/all-image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
    width: 100vw;
}
button:hover{
    cursor: pointer;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#page_wrapper{
    width: 100vw;
    // height: 100vw;
    // overflow: hidden;
}
.container_wrapper{
    height: fit-content;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
}
.search_wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100vw;
    height: 9rem;
    padding: 5rem 0;

    .search_bar_wrapper{
        position: relative;
        width:35rem ;
        .search_bar{
            input{
            width: 34rem;
            height: 4rem;
            border: none;
            border-top: .3rem;
            padding-left: 1rem;
            font-size: 1.6rem;
            color: black;
            &:focus{
                outline: none;
            }
            }
            .client_location_btn{
                position:absolute;
                right: .6rem;
                background-color: transparent;
                font-size: 2rem;
                border: none;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                // text-align: center;

                &:hover{
                    background-color: rgba(152, 152, 152, 0.472);
                }
            }
            .suggestion_section{
                width: 35.2rem;
                max-height: 11rem !important;
                overflow-y: scroll;
                background-color: #fff;
                border-top: 1px solid #5d6c62;
                // border-bottom-left-radius : .4rem;
                // border-bottom-right-radius : .4rem;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar{
                    display: none;
                }
            
                .suggestions{
                    font-size: 1.4rem;
                    margin: 0;
                    padding:1rem;
                    // height: 3rem;
                    &:hover {
                    background-color: rgb(213, 213, 213);
                    }
                }
            }
        }
    }
    .search_btn{
        margin-left: 2rem;
        height: 4.2rem;
        width: 10rem;
        border-radius: .3rem;
        border:none;
        background-color : #5d6c62;
        color: white;
        font-size: 1.6rem;

        .fa-magnifying-glass-location{
            display: none;
            font-size: 2rem;
        }
    }
}

//-------------------------------- weatherdata -----------------------------------------
.main_wrapper{
    margin-top: 10rem;
    width: 100vw;
    height: fit-content;
}
.crnt_city{
    gap: 2rem;

    .fa-location-dot{
        color: red;
        font-size: 3rem;
        animation: updown 3.5s infinite;
    }
    h1{
        font-size: 3rem;
        padding-right: 2rem;
    }
}

.crnt_city_temp{
    max-height: 10rem;
    p{
        font-size: 10rem;
        font-family: 'Roboto Condensed', sans-serif;
        word-spacing: 0%;
        padding-left: 4rem;
    }
}
.crnt_city_weather{
    p{
        text-align: center;
        font-size:2rem;
        padding-left: 1rem;
        margin: 1rem 0;
    }
}

.no_data{
    font-size: 2rem;
}
.forecast_data{
    position: relative;
    margin-top: 5rem;
    padding:2rem;
    width: 80vw;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar{
        display: none;
    }
    .hourly_data{
        text-align: center;
        margin: 1rem .8rem;
        background-color: rgba(255, 255, 255, 0.482);
        width: 7rem;
        height: 6rem;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
        border-radius: .4rem;

        .fc_d{
            width: 7rem;
            color: black;
            font-size: 1.4rem;
        }
    }
    .forecast_footer{
        position: absolute;
        right: 1rem;
        bottom: 0rem;
    }
}

@media (max-width: 650px) {
    body{
        background-image: url("/public/image/all_m.jpg");
    }
    .search_wrapper{
        .search_bar_wrapper{
            width: 30rem;
            .search_bar{
                input{
                    width: 29rem;
                }

                .suggestion_section{
                    width: 30.2rem;
                }
            }
        }
        .search_btn{
            width: 9rem;
        }
    }

    .crnt_city{

        h1{
            font-size: 2.5rem;
            padding-right: 2rem;
        }
    }

    .crnt_city_temp{
        p{
            font-size: 8rem;
        }
    }

    .crnt_city_weather{
        p{
            margin:0;
        }
    }
}
@media (max-width: 480px) {
    .search_wrapper{
        .search_bar_wrapper{
            width: 25rem;
            .search_bar{
                input{
                    width: 24rem;
                }
                .suggestion_section{
                    width: 25.2rem;
                }
            }
        }
        .search_btn{
            margin-right: 0;
            width: 7rem;

            .search_txt{
                display: none;
            }
            .fa-magnifying-glass-location{
                display: block;
            }
        }
    }
}
@keyframes updown {
    0%{transform: translateY(0rem)}
    50%{transform: translateY(-1rem)}
    100%{transform: translateY(0rem)}
}